<h1>Listing drawings</h1>  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Type</th>
      <th>Created At</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
  <% @drawings.each do |drawing| %>
    <tr>
      <td><%= drawing.id %></td>
      <td><%= drawing.title %></td>
      <td><%= drawing.drawing_type %></td>
      <td><%= drawing.created_at %></td>
      <td><%= link_to 'Buy', drawing_path(drawing) %></td>
    </tr>
  <% end %>
  </tbody>
</table>