<h1>Latest Mark Six Drawings</h1>  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Date</th>
      <th>Winning Numbers</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @drawings.each do |drawing| %>
    <tr>
      <td><%= drawing.id %></td>
      <td><%= drawing.title %></td>
      <td><%= drawing.created_at %></td>
      <td>
        <% drawing.winning_numbers.sort.each do |numbers| %>
          <%= numbers %>
        <% end %>
      </td>
      <td><%= drawing.drawing_on ? 'Finished' : 'Available' %></td>
      <% if drawing.drawing_on %>
        <td><%= link_to 'Show', drawing_path(drawing) %></td>
      <% else %>
        <td><%= link_to 'Buy', drawing_path(drawing) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>