<h2>
<%= @drawing.title %>
</h2>
<p>
<% if @drawing.drawing_on%>
  <% if @is_winner %>
    <h4>Congratulation! You are the winner! </h4>
  <% else %>
    <h4>What a pity! Add oid next time! </h4>
  <% end %>
<% end %>
</p>
<hr/>
<h4>Final Winning Picks: </h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Drawing On</th>
      <th>Numbers</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @drawing.drawing_on %></td>
      <td>
        <% @drawing.winning_picks.each do |winning_pick| %>
          <%= winning_pick.ball_number %>
        <% end %>
      </td>
      <td><%= @drawing.drawing_on ? 'Finished' : 'Available' %></td>
    </tr>
  </tbody>
</table>
<hr/>
<h4>Your Ticket Records:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Drawing</th>
      <th>Numbers</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% if @user_tickets %>
    <% @user_tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.drawing_id %></td>
        <td>
          <% ticket.ticket_numbers.each do |number| %>
            <%= number %>
          <% end %>
        </td>
        <td><%= ticket.created_at %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<hr/>
<% if not @drawing.drawing_on %>
  <h4>Buy a ticket:</h4>
  <%= form_with(model: [ @drawing, @drawing.tickets.build ], local: true, id: "picks") do |form| %>
    <p>
      <p>Please pick 6 numbers!</p>
      <% 1.upto(10) do |i| -%>
        <label class="checkbox-inline">
          <input name="ball_numbers[]" value="<%= i %>"  type= "checkbox"/>
          <%= i -%>
        </label>
      <% end %>
    </p>
    <p>
      <%= form.submit "Buy" %>
    </p>
  <% end %>
<% end %>

<script type="text/javascript">

  function checkboxlimit(checkgroup, limit){
    var checkgroup = checkgroup
    var limit = limit
    for (var i = 0; i < checkgroup.length; i++){
      checkgroup[i].onclick = function(){
      var checkedcount = 0
      for (var i = 0; i < checkgroup.length; i++)
        checkedcount += (checkgroup[i].checked) ? 1 : 0
      if (checkedcount > limit){
        alert("You can only select a maximum of "+limit+" ball numbers")
        this.checked = false
        }
      }
    }
  }

</script>

<script type="text/javascript">
  $(document).ready(function(){
    checkboxlimit(document.forms.picks.elements['ball_numbers[]'], 6);

    $("form").submit(function(){
		if ($('input:checkbox').filter(':checked').length < 1){
        alert("Please pick 6 numbers!");
		return false;
		}
    });
  });
</script>